<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Media</title>
</head>
<body>
    <h1>Add New Media</h1>
    <form action="#" th:action="@{/addmedia}" th:object="${media}" method="post">
        <label>Media Type: <input type="text" th:field="*{mediaType.typeName}"></label><br>
        <label>Title: <input type="text" th:field="*{title}"></label><br>
        <label>Director: <input type="text" th:field="*{director}"></label><br>
        <label>Duration (min): <input type="text" th:field="*{duration}"></label><br>
        <label>Publication Year: <input type="text" th:field="*{publicationYear}"></label><br>
        <label>Genre: <input type="text" th:field="*{genre.name}"></label><br>
        <label>Description: <input type="text" th:field="*{description}"></label><br>
        <label>Rating: <input type="text" th:field="*{rating}"></label><br>
        <input type="submit" value="Add New Media">
    </form>
</body>
</html>