<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ScreenScore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>ScreenScore</h1>
    <div>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table>
        <tr>
            <th>Media Type</th>
            <th>Title</th>
            <th>Director</th>
            <th>Duration (min)</th>
            <th>Publication Year</th>
            <th>Genre</th>
            <th>Description</th>
            <th>Rating</th>
        </tr>
        
        <tr th:each="media : ${medias}">
            <td th:text="${media.mediaType.typeName}">mediaType</td>
            <td th:text="${media.title}">title</td>
            <td th:text="${media.director}">director</td>
            <td th:text="${media.duration}">duration</td>
            <td th:text="${media.pubYear}">publicationYear</td>
            <td th:text="${media.genre.name}">genre</td>
            <td th:text="${media.desc}">description</td>
            <td th:text="${media.rating}">rating</td>

            <td>
                <a th:href="@{/medialist/delete/{id}(id=${media.mediaid})}">Delete</a>
                <a th:href="@{/medialist/edit/{id}(id=${media.mediaid})}">Edit</a>
            </td>
            
        </tr>
    </table>
    <a th:href="@{/showaddmedia}">Add New Media</a>
</body>
</html>
